/* 
* @Author: anchen
* @Date:   2017-03-06 14:34:11
* @Last Modified by:   anchen
* @Last Modified time: 2017-03-06 17:01:52
*/
*{
    margin:0;
    padding:0;
}
html,body{
    position: relative;
    height: 100%;
}
.grayDiv{
    width:400px;
    height:200px;
    background-color: #ccc;
    position: absolute;
    left:50%;
    margin-left: -200px;
    top:50%;
    margin-top:-100px;
    overflow: hidden;
}
.leftTop{
    background-color: #fc0;
    width:100px;
    height:100px;
    border-radius: 50px;
    float: left;
    margin-top: -50px;
    margin-left: -50px;
}
.rightBottom{
    background-color: #fc0;
    width:100px;
    height:100px;
    border-radius: 50px;
    float: right;
    margin-top: 150px;
    margin-right: -50px;
}